* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: rgba(250, 244, 244, 0.918);
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 50px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li {
    margin-left: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 0 20px #000;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: 500;
    margin-bottom: 10px;
}

.form-group {
    width: 70%;
    margin-bottom: 20px;
}


.form-control {
    width: 100%;
}

.form-group .btn {
    width: 100%;
    margin: 15px 0;
}

.todos-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-item {
    background: #fff;
    width: 80%;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
    transition: .1s linear;
}

.todo-item:hover {
    cursor: pointer;
    transform: scale(1, 1.1);
}